@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:wght@300;400;600;700&display=swap')

/*font-family: 'Bebas Neue', sans-serif;*/
 :root{
    --color-rose: #F1F5A8;
    --white-color: #fff;
    --electric-yellow: #D7FF00;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    overflow:visible;
    /*background-color: rgba(204,66,225,1) ;*/
}

body {
    font-family: "Raleway", sans-serif;
background-color: #CDC9C5;
    
    
}
header{
    min-height: 100vh;
    & img{
        max-width: 100%; /*limita al 100% del viewport del dispositivo*/
    }
    & .container{
        max-width: 75rem;
        margin: 0 auto;
    }
    & .menu{
        display: flex;
        justify-content:space-between ;
        padding: 20px 0;
    }

    & .logo{
        color:  #D7FF00 ;
        font-size: 1.5625rem;
        text-transform: uppercase;
        font-family: "Raleway", sans-serif;
    }

    & .navbar ul{
        
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        text-decoration: none;
        & li{
            padding: 0 1.25rem;
            font-size: 1.25rem;
            & a{
                color: #D7FF00;
                font-weight: 700;
            }

        }
    }
    & .navbar ul li a:hover{
        color: var(--color-rose);
    }
     #menu{
        display: none;
     }
     .menu-icono{
        width: 25px;
     }
     .menu label{
        cursor: pointer;
        display: none;
     }

     & .header-content{
        display: flex;
        margin-top: 10%;
        & .header-txt{
            flex-basis: 50%;
           
            & h1{
                font-family: 'Bebas Neue', sans-serif;
                font-size: 6.25rem;
                line-height: 1;
                color: #000000;
            }
            & h2{
                color: #D7FF00 ;
                text-decoration: dashed;
                font-size: 1.5625rem;
                margin-bottom: 20px;
                font-weight: bold;
            }
            & p{
                font-size: 1.25rem;
                color: var(--color-rose);
                margin-bottom: 50px;
            }
            & .btn{
                display: inline-block;
                padding:  13px 30px;
                background: linear-gradient(
                    90deg,
                    #87A922 0%,
                    #D7FF00 100%
                );
                color: #ffffff;
                border-radius: 15px;
                box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
            }
            & .header-img{
                flex-basis: 50%;
            }
            & .btn:hover{
                background: linear-gradient(
                    100deg,
                    rgb(178, 179, 119) 0%,
                    rgb(141, 97, 133) 100%
                );
            }
        }

     }
}

@media (max-width: 991px) {
    body{
        display: flex;
        flex-direction: column;

    }
    .menu{
        padding: 20px;
        position: relative;
    }

    .menu label{
        display: initial;
     }
    .menu .navbar{
      display: flex;
       
    }
    .menu .navbar ul{
        flex-direction: column;
       
    }

    .menu .navbar ul li{
        width: 100%;
      
    }

    .menu .navbar ul li:hover{
        color: #1f0c42;
    }

    /* #menu:checked ~ .navbar{
        display: initial;
    } */
    .header-content{
        padding:10px;
        margin-top: 0;
        flex-direction: column;
        text-align: center;
    }
    .logo{
        padding: 0 10px;
        margin-top: 0;
        flex-direction: column;
        text-align: center;
    }

    .header-txt{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
    .header-img{
        width:300px ;
        place-self: center;
        order: -1;
    }
    .btn{
        width: 190px;
        align-self: center;
        margin-bottom: 30px;
    }
}

   



